<div class="row">
  <div class="col-md-8" id="blogs">
    <div class="row">
      {{#link-to 'blog' blog.id}}
      <h1 class="title">{{blog.title}}</h1>
      {{/link-to}}
      <img src={{blog.image}}>
      <div class="row">
        By: {{blog.author}} | {{blog.date}}
      </div>
    </div>
  </div>
  <div class="col-md-4" id="archives">

  </div>
</div>
