
<div class="row comment">
  <div class="col-md-1 commenter-info">
  <h5>{{comment.userName}}</h5>
  <p>{{comment.date}}</p>
  </div>
  <div class="col-md-11 comment-body">
    {{comment.body}}
  </div>
</div>
