<h2>More information about {{model.author}}'s {{model.title}}:</h2>

<div class="row">
  {{blog-detail blog=model}}
</div>

<div class="row">
  {{new-comment saveComment="saveComment" blog=model}}
</div>
