<div class="container main-page">

<h1> Welcome to StarBlog</h1>

<p>Strategies, build orders, race discussions and anything else about StarCraft 2.</p>
<div class="row" id="all-blogs">

  {{#each model.blogs as |blog|}}
    {{blog-tile blog=blog}}
  {{/each}}

</div>
</div>
